<body>



    <div class="container">

        <form [formGroup]="formulario" (ngSubmit)="envioFormulario()">

            <div class="mb-3">
                <label class="form-label">Titulo</label>
                <input type="text" class="form-control" formControlName="titulo">
            </div>

            <div class="mb-3">
                <label class="form-label">Imagen</label>
                <input type="text" class="form-control" formControlName="imagen">
            </div>

            <div class="linea">

                <div class="autor m-3">
                    <label class="form-label">Autor</label>
                    <input type="text" class="form-control" formControlName="autor">
                </div>

                <div class="fecha m-3">
                    <label class="form-label">Fecha</label>
                    <input type="text" class="form-control" formControlName="fecha">
                </div>

                <div class="color m-3">

                    <label class="form-label">Color</label>
                    <select class="form-control" formControlName="categoria">
                        <option value="">Selecciona la categoría</option>
                        <option value="verde">Verde</option>
                        <option value="roja">Roja</option>
                        <option value="azul">Azul</option>
                        <option value="morada">Morada</option>
                    </select>

                </div>

            </div>


            <div class="mb-3">
                <label class="form-label">Texto del Post</label>
                <textarea class="form-control" rows="3" formControlName="texto"></textarea>
            </div>

            <input type="submit" value="Guardar" class="boton">
            <!-- [disabled]="!formulario.valid" -->

        </form>


        <!--     <div>
        <p>titulo: {{formulario.get('titulo')?.value}}</p>
        <p>imagen: {{formulario.get('imagen')?.value}}</p>
        <p>autor: {{formulario.get('autor')?.value}}</p>
        <p>fecha: {{formulario.get('fecha')?.value}}</p>
        <p>categoria: {{formulario.get('direccion')?.value}}</p>
        <p>texto: {{formulario.get('dni')?.value}}</p>
    </div> -->


    </div>
</body>